In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat

In [2]:
data= pd.read_csv('/home/iswar/Downloads/Advertising.csv')
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

# 1. Explain the dataset

In [4]:
data.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [3]:
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

# 2.  Check the summary statistics and discuss the max, min, avg, median, and percentiles.

In [8]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

Mean spending on TV advertisement is the highest but it also has the highest standard deviation. Mean spending on Radio advertisement is the lowest. It also has the lowest standard deviation.

# 3. The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

H0 : Same amount of money was spent on all medium of advertisement.
<br>H1 : Different amounts were spent on different medium of advertisement

In [9]:
from scipy.stats import f_oneway

In [22]:
f_value, p_value  = f_oneway(data['TV'], data['Radio'],data['Newspaper'])
print("The calculated F value is :", f_value)
print("The p value is :", p_value)
alpha = 0.05
if p_value < alpha:
    print("Reject null hypothesis H0")
else:
    print("Accept null hypothesis H0")

The calculated F value is : 358.8514595342597
The p value is : 4.552931539744962e-103
Reject null hypothesis H0

Here we can conclude that different amounts of money were spent on different mediums of advertisement.